* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-color: rgb(223, 223, 223);
    margin: 0;
}


header {
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 4rem;
    display: flex;
    text-align: center;
    font-size: 20px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(129, 123, 123);

}


/* ============ FLASHCARD CONTAINER ============ */
#flashcard {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Div in the center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#progress-bar {
    background-color: rgb(238, 233, 233);
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 20px;
    top: 0;
}

/* Pseudo element which will be inside the progess bar div, and will be the actual progress bar */
#progress-bar::before {

    /* Getting data-label value */
    content: attr(data-label);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 4px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 1.5em;
    height: 80%;

    /* This will basically set the width of the progress bar by the calc function */
    width: var(--width, 0);
    min-width: 1.5rem;
    max-width: 96.5%;
    margin-left: 8px;
    background-color: rgb(206, 204, 204);
}

#progress-bar-label {
    margin-bottom: 5px;
    text-align: end; 
    font-weight: bold;
    margin-right: 20px;

}

#question {
    position: relative;
    font-size: 45px;
}

h3 {
    font-size: 18px;
    margin-top: 15px;
    align-items: end;
    z-index: 10;

}

#question-navigation {
    position: relative;
    padding: 5px;
    bottom: -130px;
    display: flex;
    background-color: rgb(238, 233, 233);
    width: 100%;
    height: 10%;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #555;
}

button:hover {
    color: black;
    font-size: 30px;
}

/* ======== RESPONSIVE ======== */

/* ======== SMALL CELLPHONES  ========  */
@media (max-width: 480px) {

    header {
        font-size: 16px;
        height: 3.2rem;
    }

    #flashcard {
        width: 90%;
        padding: 12px;
    }

    #question {
        font-size: 15px;
    }

    #progress-bar {
        height: 30px;
        top: -100px;
    }

    #progress-bar::before {
        font-size: 15px;
        margin-bottom: -1px;
        max-width: 95%;
    }

    #question-navigation {
        top: 90px;
    }

    button {
        font-size: 15px;
    }

    button:hover {
        color: black;
        font-size: 18px;
    }

     h3 {
        font-size: 12px;
        margin-top: 10px;

    }
}


/* ======== TABLETS / LARGE CELLPHONES ======== */
@media (min-width: 481px) and (max-width: 768px) {

    header {
        font-size: 18px;
        height: 3.4rem;
    }

    #flashcard {
        width: 70%;
        padding: 18px;
    }

    #question {
        font-size: 24px;
    }

    #progress-bar {
        height: 40px;
        top: -80px;
    }

    #progress-bar::before {
        font-size: 18px;
        max-width: 96%;
    }

    #question-navigation {
        top: 80px;
    }

    button {
        font-size: 20px;
    }

    button:hover {
        color: black;
        font-size: 23px;
    }

    
}

/* ======== REAL CELLPHONE (tamanho físico) ======== */
@media screen and (max-width: 480px) and (max-height: 940px) {

    header {
        font-size: 16px;
        height: 3.2rem;
    }

    #flashcard {
        width: 90%;
        padding: 12px;
    }

    #question {
        font-size: 15px;
    }

    #progress-bar {
        height: 30px;
        top: -100px;
    }

    #progress-bar::before {
        font-size: 15px;
        margin-bottom: -1px;
        max-width: 95%;
    }

    #question-navigation {
        top: 90px;
    }

    button {
        font-size: 15px;
    }

    button:hover {
        color: black;
        font-size: 18px;
    }

    h3 {
        font-size: 12px;
        margin-top: 10px;
    }
}


/* ======== NOTEBOOKS REDUCED WIDTH (13–15 inches, reduced height) ======== */
/* Covers screens like 1366x768, 1280x720, 1600x900 */
@media (min-width: 435px) and (max-width: 769px) and (max-height: 900px) {
    header {
        font-size: 12px;
    }

    #flashcard {
        width: 60%;
        padding: 22px;
    }

    #question {
        bottom: 20px;
        font-size: 14px;
    }

    #progress-bar {
        height: 30px;
        top: -60px;
    }

    #progress-bar::before {
        font-size: 13px;
        max-width: 96%;
    }

    #question-navigation {
        top: 60px;
    }

    button {
        font-size: 14px;
    }

    button:hover {
        color: black;
        font-size: 16px;
    }

     h3 {
        font-size: 13px;
        margin-top: 8px;

    }
}


/* ======== NOTEBOOKS (13–15 inches, reduced height) ======== */
/* Covers screens like 1366x768, 1280x720, 1600x900 */
@media (min-width: 769px) and (max-width: 1440px) and (max-height: 900px) {

    header {
        font-size: 15px;
    }

    #flashcard {
        width: 70%;
        padding: 22px;
    }

    #question {
        bottom: 20px;
        font-size: 18px;
    }

    #progress-bar {
        height: 40px;
        top: -50px;
    }

    #progress-bar::before {
        font-size: 17px;
        max-width: 96%;
    }

    #question-navigation {
        top: 60px;
    }

    button {
        font-size: 18px;
    }

    button:hover {
        color: black;
        font-size: 21px;
    }

    h3 {
        font-size: 15px;
        margin-top: 13px;

    }
}

/* ======== DESKTOPS WIDTH REDUCED  ======== */
@media (min-width: 769px) and (max-width: 1440px) and (min-height: 901px) {

    header {
        font-size: 15px;
    }

    #flashcard {
        width: 60%;
        padding: 22px;
    }

    #question {
        bottom: 2px;
        font-size: 20px;
    }

    #progress-bar {
        height: 40px;
        top: -160px;
    }

    #progress-bar::before {
        font-size: 17px;
        max-width: 96%;
    }

    #question-navigation {
        top: 160px;
    }

    button {
        font-size: 18px;
    }

    button:hover {
        color: black;
        font-size: 21px;
    }

    h3 {
        font-size: 15px;
        margin-top: 13px;

    }
}


/* ======== DEFAULT DESKTOP ======== */
@media (min-width: 1440px) and (max-width: 1920px) {

    #flashcard {
        width: 50%;
        padding: 25px;
    }

    #question {
        font-size: 23px;
    }

    #progress-bar {
        height: 50px;
        top: -150px;
    }

    #progress-bar::before {
        font-size: 18px;
        margin-left: 8px;
        margin-bottom: 1px;
        max-width: 95.5%;
    }

    #question-navigation {
        top: 150px;
    }

    button {
        font-size: 18px;
    }

    button:hover {
        color: black;
        font-size: 21px;
    }

    
}


/* ======== DESKTOP ULTRAWIDE ======== */
@media (min-width: 1920px) {

    header {
        font-size: 24px;
        height: 4.5rem;
    }

    #flashcard {
        width: 50%;
        padding: 30px;
    }

    #question {
        font-size: 25px;
    }

    #progress-bar {
        height: 50px;
        top: -160px;

    }

    #progress-bar::before {
        margin-left: 5px;
        margin-bottom: 1px;
    }

    button {
        font-size: 25px;
    }

    button:hover {
        color: black;
        font-size: 30px;
    }
}