*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body{
    background-color: rgb(223, 223, 223);
    margin: 0;
}

/* ============ MAIN MENU ============ */
header{
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 4rem;
    display: flex; 
    text-align: center;
    font-size: 20px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1); 
    border-bottom: 1px solid rgb(129, 123, 123); 

}

#menu{
    background-color: white;
    display: flex;                 
    flex-direction: column;        
    width: 40%;
    height: 40%;
    padding: 20px;                 
    justify-content: center;       
    align-items: center;           
    text-align: center;

    /* Div in the center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 10px;      
}

#menu-header{
    position: relative;
    top: -20%;
    font-size: 50px;
}

#menu-btns{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
}

button{
    height: 50px;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 10px;      
}
button:hover{
    cursor: pointer;
    background-color: rgb(221, 220, 220);
}

/* ========== RESPONSIVE ========== */


/* ========= SMALL CELLPHONES ========= */
@media (max-width: 480px) {

    header {
        font-size: 16px;
        height: 3rem;
    }

    #menu {
        width: 90%;
        padding: 10px;
    }

    #menu-header {
        font-size: 40px;
    }

    #menu-btns {
        gap: 40px;
        width: 100%;
    }

    button {
        font-size: 25px;
        height: 40px;
    }
}


/* =========  TABLETS/CELLPHONES =========  */
@media (max-width: 768px) {
    header {
        font-size: 18px;
        height: 3.5rem;
    }

    #menu {
        width: 60%;
        padding: 15px;
    }

    #menu-header {
        font-size: 35px;
    }

    button {
        font-size: 24px;
        height: 35px;
    }
}



/* ========== DEFAULT DESKTOP (WIDTH >= 1030px) ============= */
@media (min-width: 1030px) {
    #menu {
        width: 30%;
        padding: 25px;
    }

    #menu-header {
        font-size: 35px;
    }

    button {
        font-size: 32px;
        height: 55px;
    }
}

/* ========= NOTEBOOKS (13"–15" SCREENS) ========= */
@media (min-width: 768px) and (max-width: 1440px) and (max-height: 900px) {
    header{
        font-size: 15px;
    }
    #menu {
        width: 45%;
        padding: 20px;
    }

    #menu-header {
        top: -15px;
        font-size: 25px;
    }

    #menu-btns {
        width: 75%;
        gap: 25px;
    }

    button {
        font-size: 22px;
        height: 40px;
    }
}


/* ======== NOTEBOOKS (13–15 inches, reduced height) ======== */
/* Covers screens like 1366x768, 1280x720, 1600x900 */
@media (min-width: 350px) and (max-width: 1440px) and (max-height: 900px) {
    header{
        font-size: 12px;
    }
    #menu {
        width: 45%;
        padding: 20px;
    }

    #menu-header {
        top: -15px;
        font-size: 25px;
    }

    #menu-btns {
        width: 75%;
        gap: 25px;
    }

    button {
        font-size: 22px;
        height: 40px;
    }
}

/* ========= DESKTOPS ULTRA WIDE =========*/
@media (min-width: 1440px) {

    header {
        font-size: 24px;
        height: 4.5rem;
    }

    #menu {
        width: 35%;
        padding: 30px;
    }

    #menu-header {
        font-size: 40px;
    }

    #menu-btns {
        width: 70%;
    }

    button {
        font-size: 30px;
        height: 60px;
    }
}